{
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "react/react-in-jsx-scope": "off", // React no longer needs to be in scope in React 17+
    "react/no-deprecated": "off"  // Turn off deprecated warnings if you're aware
  }
}
